<div class="next-steps">
  <h1 class="title tt_norms500">
    What's next after payment?
  </h1>
  <ol class="timeline">
    <li *ngFor="let nextStep of nextSteps; let index = index" class="step-item">
      <div class="step-icon-container">
        <div class="step-icon">
          <span class="step-icon-div"></span>
        </div>
      </div>
      <div class="step-content">
        <h4 class="tt_norms500">{{ nextStep.title }}</h4>
        <p class="item_text" [innerHTML]="nextStep.description"></p>
      </div>
    </li>
  </ol>
</div>
